<h2>Recipes:</h2>

<p>The current user is <%= @user.name %></p>

<ul>
  <% @recipes.each do |r| %>
    <li><%= link_to r[:recipe][:name], recipe_path(r[:recipe], user: @user.id) %> &ensp;||&ensp; You're missing <%= pluralize(r[:missing], 'ingredient') %>.</li>
  <% end %>
</ul>

<%= link_to "Head back to the kitchen", user_path(@user) %>