<h2><%= @recipe.name %></h2>

<h4>Ingredients:</h4>
<ul>
  <% @recipe.ingredients.each do |i| %>
    <li><%= i.name %></li>
  <% end %>
</ul>

<%= link_to "See this recipe", @recipe.url, target: :_blank %>