<h2><%= @recipe.name %></h2>

<h4>Ingredients:</h4>
<ul>
  <% @recipe.ingredients.each do |i| %>
    <li><%= i.name %></li>
  <% end %>
</ul>

<div>
  <%= link_to "See this recipe", @recipe.url, target: :_blank %>
</div>

<% if params[:user] %>
  <div>
    <%= link_to "Check out some other recipes", recipes_path(user: params[:user]) %>
  </div>
<% end %>
