<!DOCTYPE html>
<html>
  <head>
    <title>Smörgåsbord</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <h1>Smörgåsbord</h1>
    <hr>
    <%= yield %>
  </body>
</html>
